
body {	
    margin: 0;
    padding: 0;

    font-family: 'Verdana', arial, serif;
}

fieldset {
    margin: 4px 4px 4px 4px;
}

header {
    margin: 0;
    padding: 16px 64px 16px 64px;

    color: #FFF;
    background-color: #3498DB;
    margin-bottom:4px;

    line-height:0px;
}

table {
    border-spacing: 0px;
}

div.field, div.list, table#monitor tr {
    margin-bottom:4px;
    padding:4px 8px 4px 8px;

    font-size: 14px;
    font-weight:normal;
    line-height:20px;
    text-align:left;
}

div.field:hover {
    padding:3px 7px 3px 7px;
    border: solid 1px #CCC;
}

tr.dropdown-header:hover, tr.dropdown-toggle {
    background-color: #EEE;
}

th, .dropdown-header td {
    text-align: center;
}

div.keyword-item {
    margin-left: 64px;
}

span.keyword-name {
    margin-left: 4px;
    margin-right: 8px;
}

ul {
    padding: 0 0 0 0;
    list-style-type:none;
}

footer {
    width:100%;

    float:left;
    padding:32px 0px 64px 0px;

    font-size:9px;
    font-weight:normal;
    text-align:center;
    color: #CCC;
}

footer a {
    color: #BBD;
}

object {
    pointer-events: none;
}

h1 {
    font-size: 22px;
    line-height:25px;
    display: inline;
}

header h1 {
    letter-spacing: 2px;
}

.language-selection {
    float: right;
    display: inline;
}

.language-selection a {
    text-decoration: none;
    color: white;
}

.language-selection a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 18px;
    font-weight:lighter;
    line-height:20px;
}

.center {
    margin: auto;
}

.width-786 {
    max-width: 786px;
}

.full {
    width: 99.5%
}

.half {
    width: 49.5%
}

.quarter {
    width: 24.5%
}

.right {
    float: right;
}

.hide {
    display: none;
}

button, select, input[type=submit], input[type=reset], input[type=button] {
    height: 24px;
    background-color: #EEE;
    border: none;
    text-shadow: none;
    box-shadow:none;
}

button:hover, select:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
    background-color: #DDD;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:4px;
    border:2px solid #555;
    margin:0;
}

input[type='checkbox']:checked {
    background:#3498DB;
}

ul[id=messages] {
    padding-top: 3px;
    padding-bottom: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
}